{%extends 'testapp/main_form.html'%}

{%block content%}
<h1>info</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col" bgcolor="blue" style="color: white">Field Name</th>
        <th scope="col" bgcolor="blue" style="color: white">Field Data</th>
      </tr>
    </thead>
 <tbody>
        <tr>
          <th scope="row" bgcolor="white">Created by:</th>
          <td bgcolor="white">M Sathya Kumar</td>
        </tr>
        <tr>
          <th scope="row" bgcolor="white">Email</th>
          <td bgcolor="white">msathyakumar9@gamil.com</td>
        </tr>
        <tr>
          <th scope="row" bgcolor="white">mobile no: </th>
          <td bgcolor="white">8500089045</td>
        </tr>
</tbody>
</table>
{%endblock%}